@page "/"
@rendermode InteractiveServer

<p>@message</p>


<!DOCTYPE html>
<html>
<head>
  <title>Weather Data Chart</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
   <div id="general-container">
        <div id="cityButton-container">
            <button class="btn enschede" style="display: block; margin-bottom: 10px;" @onclick="OnEnschedeClick" data-value="Enschede">Enschede</button>
            <button class="btn enschede" style="display: block; margin-bottom: 10px;" @onclick="OnDeventerClick" data-value="Deventer">Deventer</button>
            <button class="btn enschede" style="display: block; margin-bottom: 10px;" @onclick="OnAppeldornClick" data-value="Appeldorn">Appeldorn</button>
        </div>
        <div class="text-container">
            <p>infaiwfuwahfluawhjfliuwahfdiluawh</p>
            <p>dihefuhaesfaehudfahwuldfhaw</p>
        </div>
    <!-- First Row: Chart Type -->
        <div class="container">
            <div class="tabs" id="dataTabs">
                <div class="tab type active" data-value="insideTemperature">Inside Temperature</div>
                <div class="tab type" data-value="outsideTemperature">Outside Temperature</div>
                <div class="tab type" data-value="humidity">Humidity</div>
                <div class="tab type" data-value="luminocity">Luminocity</div>
                <div class="tab type" data-value="airPressure">Air Pressure</div>
            </div>

            <!-- Second Row: Dataset Selection -->
            <div class="tabs" id="timeTabs">
                <div class="tab range active" data-value="day">Day</div>
                <div class="tab range" data-value="week">Week</div>
                <div class="tab range" data-value="month">Month</div>
            </div>

            <!-- Chart Container -->
            <canvas id="myChart"></canvas>
        </div>
  </div>
</body>
</html>
@code {
    string message = " nowhere";

    private void OnEnschedeClick()
    {
        message = "in Enschede";
    }
    private void OnDeventerClick()
    {
        message = "in Deventer";
    }
    private void OnAppeldornClick()
    {
        message = "in Appeldorn";
    }
}

<script type="module">
    import { initializeChart, updateChartData, toggleCityData } from '/weatherChart.js'

    let currentDataType = 'insideTemperature';
    let currentTimeRange = 'day';

    initializeChart();

    document.querySelectorAll('#dataTabs .type').forEach(tab => {
        tab.addEventListener('click', () => {
            updateData(tab.dataset.value)
        })
    })
    document.querySelectorAll('#timeTabs .range').forEach(tab => {
        tab.addEventListener('click', () => {
            updateTimeRange(tab.dataset.value)
        })
    })
    document.querySelectorAll('.btn').forEach(button => {
        button.addEventListener('click', () => {
            toggleCityData(button.dataset.value, currentDataType,currentTimeRange)
        })
    })
    // Update Data Type
    function updateData(type) {
        currentDataType = type;
        //remove highlighted tab
        document.querySelectorAll('#dataTabs .tab').forEach(tab => tab.classList.remove('active'));
        //Highlighted new wtab
        document.querySelector(`#dataTabs .tab[data-value="${type}"]`).classList.add('active');
        updateChartData(currentDataType, currentTimeRange);
    }

    // Update Time Range
    function updateTimeRange(range) {
        currentTimeRange = range;
        //remove highlighted tab
        document.querySelectorAll('#timeTabs .tab').forEach(tab => tab.classList.remove('active'));
        //Highlighted new tab
        document.querySelector(`#timeTabs .tab[data-value="${range}"]`).classList.add('active');
        updateChartData(currentDataType, currentTimeRange);
    }
</script>